@import "mocha.css";


* {
  font-family: BlexMono Nerd Font;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: @surface0;
  color: @text;
  margin: 0px 0px;
}

/* #workspaces { */
/*   margin: 5px; */
/*   background-color: @surface0; */
/*   margin-left: 1rem; */
/* } */

#workspaces button {
  color: @lavender;
  all: initial;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#tray-expander,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#network,
#cpu,
#power-profiles-daemon,
#idle_inhibitor,
#bluetooth,
#custom-vpn-menu,
#custom-power {
  min-width: 12px;
  margin: 0 7.5px;
}

#clock {
  color: @blue;
  /* border-radius: 0px 1rem 1rem 0px; */
  /* margin-right: 1rem; */
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray-expander {
  margin-right: 0.5rem;
  border-radius: 1rem;
}
